*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1{
    font-size: 50px;
    background-color: #000;
    color: #fff;
}

a{
    display: block;
    text-align: center;
    text-decoration: none;
    background: black;
    color: white;
    width: 300px;
    height: 50px;
    font-size: 30px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0px 0px 5px yellow;
}

#uno{
    display: block;
    width: 300px;
    height: 300px;
    background: red;
    margin: 10px auto;
    color: yellow;
}

#dos{
    display: block;
    width: 300pt;
    height: 300pt;
    background: red;
    margin: 10px auto;
    color: yellow;
}

#tres{
    display: block;
    width: 3in;
    height: 3in;
    background: red;
    margin: 10px auto;
    color: yellow;
}

#cuatro{
    display: block;
    width: 3cm;
    height: 3cm;
    background: red;
    margin: 10px auto;
    color: yellow;
}

#cinco{
    display: block;
    width: 30mm;
    height: 30mm;
    background: red;
    margin: 10px auto;
    color: yellow;
}

#seis{
    display: block;
    width: 30pc;
    height: 30pc;
    background: red;
    margin: 10px auto;
    color: yellow;
}

#siete{
    display: block;
    width: 300Q;
    height: 300Q;
    background: red;
    margin: 10px auto;
    color: yellow;
}

#ocho{
    display: block;
    width: 30%;
    height: 30%;
    background: red;
    margin: 10px auto;
    color: yellow;
}

#nueve{
    display: block;
    width: 30em;
    height: 30em;
    background: red;
    margin: 10px auto;
    color: yellow;
}

#diez{
    display: block;
    width: 30lh;
    height: 30lh;
    background: red;
    margin: 10px auto;
    color: yellow;
}

#once{
    display: block;
    width: 30ex;
    height: 30ex;
    background: red;
    margin: 10px auto;
    color: yellow;
}

#doce{
    display: block;
    width: 30ch;
    height: 30ch;
    background: red;
    margin: 10px auto;
    color: yellow;
}

#trece{
    display: block;
    width: 30cap;
    height: 30cap;
    background: red;
    margin: 10px auto;
    color: yellow;
}

#catorce{
    display: block;
    width: 30ic;
    height: 30ic;
    background: red;
    margin: 10px auto;
    color: yellow;
}